<!--Write an AngularJS script to display list of games stored in an array on click of button using 
ng-click. And also demonstrate ng-init, ng-bing directive of Angular js.
-->

<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Game List</title>
  <script src="angular.min.js"></script>
</head>
<body ng-controller="GameController">

  <h1>List of Games</h1>

  <div ng-init="games = ['cycling', 'tennis', 'boxing', 'basketball', 'football']">
    <ul>
      <li ng-repeat="game in games" ng-bind="game"></li>
    </ul>

  </div>

  <button ng-click="showGames()">Show Games</button>
  <script>
    angular.module('myApp', [])
      .controller('GameController', function($scope) {
        $scope.showGames = function() {
          alert("List of Games: "+ $scope.games);
          
        };
      });
  </script>

</body>
</html>
